/Labwork1/Labwork1.sln
/Labwork1/.vs
/Labwork1/DerivedDataCache
/Labwork1/Intermediate
/Labwork1/Saved
/Labwork1/.vsconfig
/Labwork1/Content/Characters/Mannequins

/Labwork2/Labwork2.sln
/Labwork2/.vs
/Labwork2/DerivedDataCache
/Labwork2/Intermediate
/Labwork2/Saved
/Labwork2/.vsconfig
/Labwork2/Content/Characters/Mannequins

/Labwork3/Labwork3.sln
/Labwork3/.vs
/Labwork3/DerivedDataCache
/Labwork3/Intermediate
/Labwork3/Saved
/Labwork3/.vsconfig
/Labwork3/Content/Characters/Mannequins

/Labwork4/Labwork4/Labwork4.sln
/Labwork4/Labwork4/.vs
/Labwork4/Labwork4/DerivedDataCache
/Labwork4/Labwork4/Intermediate
/Labwork4/Labwork4/Saved
/Labwork4/Labwork4/.vsconfig
/Labwork4/Labwork4/Content/Characters/Mannequins

/GAD2006_Final/GAD2006_Final.sln
/GAD2006_Final/.vs
/GAD2006_Final/DerivedDataCache
/GAD2006_Final/Intermediate
/GAD2006_Final/Saved
/GAD2006_Final/.vsconfig



